/* Base (mobile-first) */
.search-area {
  position: static;
  top: 60px;
  z-index: 5;
  padding: 18px 0 0 0;
  background-color: black !important;
}

@media (min-width: 1025px) {
    .search-area {
      position: sticky;
      top: 60px;
  }
}